.dish-title-item {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}
h1 {
  width: 100%;
  margin: 50px 0;
  text-align: center;
  font-size: 35px;
}
.input-container {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input {
  height: 30px;
  width: 200px;
  border: 2px yellow dotted;
}
.country-container {
  display: flex;
}
