@font-face {
  font-family: "Orbitron-Regular";
  src: url("../assets/fonts/orbitron/Orbitron-Regular.ttf");
}

.cockpit-container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.cockpit-picture {
  z-index: 3;
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.phone-video {
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  transition: all 2s ease-in-out;
}

.holo-map {
  position: fixed;
  z-index: 4;
  width: 80%;
  top: 20%;
  left: 10%;
}

.disable-holo-map {
  position: fixed;
  opacity: transparent;
  width: 100%;
  top: 0;
}

.phone-video-loop {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  transition: all 2s ease-in-out;
}

.disable-video-loop {
  position: fixed;
  opacity: transparent;
  width: 100%;
  top: 0;
  transition: all 2s ease-in-out;
}

.disable-video {
  position: fixed;
  opacity: transparent;
  width: 100%;
  top: 0;
  transition: all 2s ease-in-out;
}



.cockpit-container .start-mission {
  cursor: pointer;
  position: fixed;
  background-color: rgba(125, 182, 232, 0.5);
  box-shadow: 0 0 20px rgb(125, 182, 232);
  padding: 20px;
  z-index: 20;
  top: 60%;
  left: 47%;
  mix-blend-mode: hard-light;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  transition: all 250ms ease;
  font-size: 1vw;
  font-family: "Orbitron-Regular";
}

.cockpit-container .map-button {
  cursor: pointer;
  position: fixed;
  background-color: rgba(125, 182, 232);
  padding: 20px;
  z-index: 20;
  right: 27%;
  top: 62%;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  transition: all 250ms ease;
  font-size: 1vw;
  font-family: "Orbitron-Regular";
}

.cockpit-container .map-button:hover {

  box-shadow: 0 0 20px rgb(125, 182, 232);
}

.cockpit-container .start-mission:hover {
  background-color: rgba(125, 182, 232, 0.8);
}

.timer {
  z-index: 40;
  width: 14%;
  position: fixed;
  line-height: 4vh;
  top: 18%;
  left: 44%;
  color: #fff;
  text-shadow: 0 0 5px#fff;
  font-family: "Orbitron-Regular", serif;
  font-size: 1vw;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.disable-timer {

  transition: opacity 2s ease-out;
}

.disabled-start-mission {
  animation: all 750ms ease;

  display: none;
}

.country {
  z-index: 50;
  cursor: pointer;
  position: fixed;
  background-color: rgba(125, 182, 232);
  padding: 20px;
  right: 43%;
  top: 85%;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  transition: all 250ms ease;
  font-size: 1vw;
  font-family: "Orbitron-Regular";
}

.country:hover {
  box-shadow: 0 0 20px rgb(125, 182, 232);
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}