@font-face {
  font-family: "Orbitron-Regular";
  src: url("../assets/fonts/orbitron/Orbitron-Regular.ttf");
}

.cockpit-container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}


.cockpit-picture {
  z-index: 0;
  margin: auto;
  width: 100%;
}

.phone-video {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
}

.phone-video-loop {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
}

.disable {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
}



button {
  cursor: pointer;
  position: absolute;
  color: #000;
  background-color: #dd2020;
  margin: 20px;
  padding: 20px;
  z-index: 10;
}

.timer {
  z-index: 20;
  width: 14%;
  position: absolute;
  line-height: 2rem;
  top: 10%;
  left: 44%;
  color: #fff;
  text-shadow: 0 0 5px#fff;
  font-family: "Orbitron-Regular", serif;
}