html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  /* fill: #2a354d; */
  fill: red;
}

/* .worldMap{
  position:absolute;
  top:0;
  right:35%;
} */

.worldmap__figure-container {
  position: fixed;
  top: 30%;
  right: 36%;
  z-index: 30;
  transition: transform 0.1s;
}

.worldmap__figure-container:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

svg {
  width: 100%;
}