.randomDish-global-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

@font-face {
  font-family: "Orbitron-Regular";
  src: url("../assets/fonts/orbitron/Orbitron-Regular.ttf");
}

.span-bold {
  text-decoration: underline;
  font-weight: bold;
}

.button-random {
  width: 100px;
  cursor: pointer;
  border-radius: 15px;
  border: yellow 2px solid;
  background-color: rgb(73, 200, 226);
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.button-random:hover {
  background-color: blueviolet;
  transform: scale(1.05);
  transition: all 350ms ease-in;
}

.buttons-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-title {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}



.random-dish {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.random-dish__title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 0 15px;
  max-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.random-dish__image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.random-dish__area {
  margin: 20px 0;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: underline;
}

.random-dish__instructions {
  width: 500px;
  font-size: 17px;
  text-align: justify;
  line-height: 3vh;
  display: block;
}

.recipe-title-disabled {
  display: none;
}

.random-dish-title-image-container {
  align-self: flex-start;
}

.random-item-half2 {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.random-insult {
  width: 100%;
  margin: 20px 0;
}

.random-insult-p {
  font-size: 25px;
  text-align: center;
}

body {
  font-family: "Orbitron-Regular", serif;
}